[submodule "compiler"]
	path = compiler
	url = https://github.com/SwarmArch/Swarm-LLVM.git
[submodule "simulator"]
	path = simulator
	url = https://github.com/SwarmArch/sim.git
[submodule "swarm_runtime"]
	path = swarm_runtime
	url = https://github.com/SwarmArch/runtime.git
